<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ECVSTK1160Device</key>
	<dict>
		<key>ECVVendorID</key>
		<integer>1505</integer>
		<key>ECVProductID</key>
		<integer>1032</integer>
	</dict>
	<key>ECVEM2860Device</key>
	<dict>
		<key>ECVVendorID</key>
		<integer>60186</integer>
		<key>ECVProductID</key>
		<integer>10337</integer>
	</dict>
	<key>ECVSomagicDevice</key>
	<dict>
		<key>ECVVendorID</key>
		<integer>7304</integer>
		<key>ECVProductID</key>
		<integer>63</integer>
	</dict>
	<key>ECVSomagicDevice_Unloaded</key>
	<dict>
		<key>ECVVendorID</key>
		<integer>7304</integer>
		<key>ECVProductID</key>
		<integer>7</integer>
	</dict>
	<key>ECVFushicaiDevice</key>
	<dict>
		<key>ECVVendorID</key>
		<integer>7025</integer>
		<key>ECVProductID</key>
		<integer>12290</integer>
	</dict>
</dict>
</plist>
