<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.BenTrask.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.4</string>
	<key>NSMainNibFile</key>
	<string>ECVMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.5.8</string>
	<key>ECVCaptureTypes</key>
	<array>
		<dict>
			<key>ECVCaptureClass</key>
			<string>ECVSTK1160Device</string>
			<key>ECVVendorID</key>
			<integer>1505</integer>
			<key>ECVProductID</key>
			<integer>1032</integer>
		</dict>
	</array>
	<key>ECVVideoCodecs</key>
	<array>
		<string>'jpeg'</string>
		<string>'mp4v'</string>
		<string>'yuv2'</string>
	</array>
	<key>ECVInfoByVideoCodec</key>
	<dict>
		<key>'jpeg'</key>
		<dict>
			<key>ECVCodecLabel</key>
			<string>Motion JPEG</string>
			<key>ECVConfigurableQuality</key>
			<true/>
		</dict>
		<key>'mp4v'</key>
		<dict>
			<key>ECVCodecLabel</key>
			<string>MPEG-4</string>
			<key>ECVConfigurableQuality</key>
			<true/>
		</dict>
		<key>'yuv2'</key>
		<dict>
			<key>ECVCodecLabel</key>
			<string>Raw Y'CbCr</string>
			<key>ECVConfigurableQuality</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
